@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FDFCFE; /* brandWhite */
  color: #101828;            /* brandNavy */
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
}

/* Custom selection color to match brand */
::selection {
  background-color: #FF7373;
  color: white;
}